<%- include("./partials/header") %>

<div class="wrapper">
    <section class = "section">
        <div class="columns is-centered">
            <div class="column is-one-quarter-tablet">
                <div class="box bookCover">
                    <figure class="image">
                        <img src= <%=bookData.imageLinks.thumbnail%> alt="Book cover for <%=bookData.title%>">
                    </figure>
                    <figcaption>
                         <p>
                            <a class="googleBookLink button" href="<%='https://books.google.com/books?id='.concat(bookData.id) %>" target="_blank" rel="noopener noreferrer"></a>
                        </p>
                        <%if(!inMyLibrary){ %>
                            <form action="/findBook" method="POST">
                                <input hidden type="text" name="bookID" value=<%=googleBookID%> >
                                <button class="button is-success is-small btnAdd">Add Book</button>
                            </form>
                        <%} %>
                        <%if(inMyLibrary){ %>
                            <form action="/myBook/<%=bookData._id%>?_method=DELETE" method="POST">
                                <button class="button is-danger is-small btnDelete">Remove Book</button>
                            </form>
                        <%} %>
                    </figcaption>  

                </div>
            </div>
            <div class="column is-three-quarters-tablet is-half-desktop">
                <div class="box has-background-light">
                    <h1 class="title"><%= bookData.title %></h1>
                    <h2 class="subtitle"><%= bookData.subtitle%></h2>
                    <% let authors = bookData.authors; %>
                    <% if(authors){ %>
                        <h3 class="subtitle is-6">Author<%if(authors.length > 1){%>s<%}%>:  <%= authors %></h3>
                    <% } else {%>
                        <h3 class="subtitle is-6">Author:  N/A</h3>
                    <% } %>
                    
                    <hr class="hr">
                    <div class="content">
                        <% if(bookData.description){ %>
                            <p><%- bookData.description %></p>
                        <% } else {%>
                            <p>No description available.</p>
                        <% } %>
                    </div>
                    <div class="columns">
                        <div class="column is-10 is-offset-2">
                            <table class="table mt-5 has-background-light">
                                <tbody>
                                    <% if(bookData.averageRating){ %>
                                        <tr>
                                            <td class="has-text-right">Rating:</td>
                                            <td><%= bookData.averageRating%> of 5</td>
                                        </tr>
                                    <% } %>
                                    <% if(bookData.publisher){ %>
                                        <tr>
                                            <td class="has-text-right">Publisher:</td>
                                            <td><%= bookData.publisher%></td>
                                        </tr>
                                    <% } %>
                                    <% if(bookData.publishedDate){ %>
                                        <tr>
                                            <td class="has-text-right">Date published:</td>
                                            <td><%= bookData.publishedDate%></td>
                                        </tr>
                                    <% } %>
                                    <% if(bookData.pageCount){ %>
                                        <tr>
                                            <td class="has-text-right">Page count:</td>
                                            <td><%= bookData.pageCount%></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    

                </div>

    
            </div>
        </div>

    </section>
    <section class="section">
      <div class="columns is-mobile">
        <div class="column box shelves">
          <h3 class="title is-3 has-text-light">Comments</h3>

          <article class="media">
            <div class="media-content">
              <div class="box content">
                <form action="/myBook/<%=bookData._id%>/comments?id=<%bookData.id%>" method="POST">
                  <div class="field">
                    <p class="control">
                      <textarea name="message" cols="30" rows="5" class="textarea" placeholder="Your thoughts..."></textarea>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <button class="button">Post Comment</button>
                    </p>
                  </div>
                </form>

              </div>
            </div>
          </article>
          <% if(bookData.comments){ %>
            <% for(let i=bookData.comments.length-1; i>=0; i--){ %>
              <article class="media">
                <div class="media-content">
                  <div class="box content">
                    <p>
                      <strong><%=bookData.comments[i].username%></strong>
                      <small> · <%=bookData.comments[i].date%></small>
                      <br>
                      <%=bookData.comments[i].message%>
                      <br>
                      <% if(bookData.comments[i].replies){ %>
                        <button class="button is-small">Show Replies</button>
                      <% } %>
                    </p>
                  </div>
                </div>
              </article>
            <% } %>
          <% } %>
        </div>
      </div>
    </section>
</div>
<%- include("./partials/footer") %>

