<%- include("./partials/header") %>


    <section class = "mainFrame container">
        <div class="leftFrame">

            <img src="<%=bookData.imageLinks.thumbnail%>" 
            alt="Book cover for <%=bookData.title%>">
            <%if(!inMyLibrary){ %>
                <form action="/book" method="POST">
                    <input hidden type="text" name="bookID" value=<%=googleBookID%> >
                    <button class="btnAdd">Add to Library</button>
                </form>
            <%} %>
            <%if(inMyLibrary){ %>
                <form action="/myBook/<%=bookData._id%>?_method=DELETE" method="POST">
                    <button class="btnDelete">Remove from Library</button>
                </form>
            <%} %>

        
        </div>
        <div class="rightFrame">
            <h1><%= bookData.title %></h1>
            <h2><%= bookData.subtitle%></h2>
            <p><strong>Author:</strong>  <%= bookData.authors %></p>
            <p>Rating: <%= bookData.averageRating%> out of 5</p>
            <p class="description"><%= bookData.description %></p>
            <p><%= bookData.publisher%></p>
            <p><%= bookData.publishedDate%></p>
            <p>Page count: <%= bookData.pageCount%></p>

        </div>

    </section>
    <section class="container">
        <h3>Reviews</h3>
    </section>

<%- include("./partials/footer") %>

