<%- include("./partials/header") %>

<div class="wrapper">
    <section class = "section">
        <div class="columns is-centered">
            <div class="column is-one-quarter-tablet">
                <div class="box bookCover">
                    <figure class="image">
                        <img src= <%=bookData.imageLinks.thumbnail%> alt="Book cover for <%=bookData.title%>">

                    </figure>
                    <figcaption>
                         <p>
                            <a class="googleBookLink button" href="<%='https://books.google.com/books?id='.concat(bookData.id) %>" target="_blank" rel="noopener noreferrer"></a>
                        </p>
                        <%if(!inMyLibrary){ %>
                            <form action="/findBook" method="POST">
                                <input hidden type="text" name="bookID" value=<%=googleBookID%> >
                                <button class="button is-success is-small btnAdd">Add Book</button>
                            </form>
                        <%} %>
                        <%if(inMyLibrary){ %>
                            <form action="/myBook/<%=bookData._id%>?_method=DELETE" method="POST">
                                <button class="button is-danger is-small btnDelete">Remove Book</button>
                            </form>
                        <%} %>
                    </figcaption>  

                </div>
            </div>
            <div class="column is-three-quarters-tablet is-half-desktop">
                <div class="box">
                    <h1 class="title"><%= bookData.title %></h1>
                    <h2 class="subtitle"><%= bookData.subtitle%></h2>
                    <% let authors = bookData.authors; %>
                    <% if(authors){ %>
                        <h3 class="subtitle is-6">Author<%if(authors.length > 1){%>s<%}%>:  <%= authors %></h3>
                    <% } else {%>
                        <h3 class="subtitle is-6">Author:  N/A</h3>
                    <% } %>
                    
                    <hr class="hr">
                    <div class="content">
                        <% if(bookData.description){ %>
                            <p><%- bookData.description %></p>
                        <% } else {%>
                            <p>No description available.</p>
                        <% } %>
                    </div>

                    <table class="table mt-5">
                        <tbody>
                            <% if(bookData.averageRating){ %>
                                <tr>
                                    <td class="has-text-right">Rating:</td>
                                    <td><%= bookData.averageRating%> of 5</td>
                                </tr>
                            <% } %>
                            <% if(bookData.publisher){ %>
                                <tr>
                                    <td class="has-text-right">Publisher:</td>
                                    <td><%= bookData.publisher%></td>
                                </tr>
                            <% } %>
                            <% if(bookData.publishedDate){ %>
                                <tr>
                                    <td class="has-text-right">Date published:</td>
                                    <td><%= bookData.publishedDate%></td>
                                </tr>
                            <% } %>
                            <% if(bookData.pageCount){ %>
                                <tr>
                                    <td class="has-text-right">Page count:</td>
                                    <td><%= bookData.pageCount%></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    

                </div>

    
            </div>
        </div>

    </section>
    <section class="section">
        <div class="columns is-mobile">
            <div class="column box shelves">
                <h3>Reviews</h3>
                <div class="box">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel blanditiis reiciendis suscipit saepe minus ipsa quis quaerat ipsum incidunt iusto placeat distinctio sapiente alias, explicabo ullam iure fugit illo dignissimos, fuga expedita. Ut tempore eius ad, animi amet commodi, labore illum recusandae velit inventore quia tenetur minus hic. Nemo, dicta!
                    </p>
                </div>
                <div class="box">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis minus fugit atque neque quidem suscipit maiores dolor quae iste asperiores!
                    </p>
                </div>
                <div class="box">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius, quia culpa odit quisquam blanditiis asperiores reiciendis eveniet assumenda excepturi consectetur odio sunt reprehenderit facere.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("./partials/footer") %>

