<%- include("./partials/header") %>

<div class="wrapper">
  <% if(messages.length > 0){ %>
    <div class="notification is-link mt-4">
      <button class="delete mr-2"></button>
        <p class="has-text-centered has-text-weight-semibold is-size-5"><%=messages[0]%></p>
    </div>
  <%}%>

    <section class="section">
      <div class="columns is-mobile">
        <div class="column box shelves">
          <h3 class="title is-3 has-text-light">Update Your Comment</h3>
          <article class="media">
            <div class="media-content">
              <div class="box content">
                <form action="<%=basePath%>/myBook/<%=bookId%>/comments/<%=comment.id%>?_method=PUT" method="POST">
                  <input name="username" type="text" value="<%=currentUser%>" hidden>
                  <div>
                    <span>Update your rating... </span>
                    <input name="starCounter" class="star-counter star-counter-edit" type="number" value="<%=comment.rating%>" hidden>
                    <a class="button one-star">&#10025</a>
                    <a class="button two-star">&#10025</a>
                    <a class="button three-star">&#10025</a>
                    <a class="button four-star">&#10025</a>
                    <a class="button five-star">&#10025</a>
                  </div>
                  <div class="field">
                    <p class="control">
                      <textarea name="message" cols="30" rows="5" class="textarea" ><%=comment.message%></textarea>
                    </p>
                  </div>
                  <div class="is-flex">
                    <div class="field">
                      <p class="control">
                        <button class="button is-success is-small">Update</button>
                      </p>
                    </div>
                    <form action="<%=basePath%>/myBook/<%=bookId%>" method="GET">
                      <div class="field">
                        <p class="control">
                          <button class="button is-danger is-small ml-3">Cancel</button>
                        </p>
                      </div>
                    </form>
                  </div>

                </form>

              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
</div>
<%- include("./partials/footer") %>

