<%- include("./partials/header") %>

    <section class="section">
        <div class="columns">
            <div class="column is-one-quarter-tablet is-one-fifth-desktop">
                <h2>Left Frame</h2>
            </div>
            <div class="column is-three-quarters is-four-fifths-desktop">
                <div class="container">
                    <div class="shelves">
                        <div class="columns is-multiline">
                            <% for(let i = 0; i < myLibrary.length; i++){ %>
                                <div class="column is-one-third-mobile is-one-quarter-tablet is-one-fifth-desktop">
                                    <a href="/myBook/<%=myLibrary[i]._id%>">
                                        <figure>
                                            <img src= <%=myLibrary[i].imageLinks.thumbnail%> alt="Book cover for <%=myLibrary[i].title%>">
                                            <figcaption>
                                                <%=myLibrary[i].title%>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            <% } %>       
                    </div>
                </div>
            </div>
        </div>
        <div class="rightFrame">

        </div>
    </section>


<%- include("./partials/footer") %>