<%- include("./partials/header") %>

    <div class="wrapper">

    
    <section class="section">
        <div class="columns">
            <div class="column is-one-quarter-tablet is-one-fifth-desktop">
                <% if(currentUser){ %>
                    <h3 class="is-3"><strong>Welcome, <%=currentUser%></strong></h3>
                <% } else { %>
                    <h3 class="is-3"><strong>Welcome!</strong></h3>
                    <p>Please <a href="/register">sign up</a> or <a href="/login">log in</a> to create your own book list.</p>
                <% } %>

            </div>
            <div class="column is-three-quarters is-four-fifths-desktop">
                <div class="container shelves">
                    <div class="columns is-centered is-multiline is-mobile">
                        <% for(let i = 0; i < myLibrary.length; i++){ %>
                            <div class="column is-half-mobile is-one-quarter-tablet is-one-fifth-desktop">
                                <div class="box bookCard">
                                    <a href="/myBook/<%=myLibrary[i]._id%>">
                                        <figure class="image">
                                            <img src= <%=myLibrary[i].imageLinks.thumbnail%> alt="Book cover for <%=myLibrary[i].title%>">
                                            <figcaption>
                                                <%=myLibrary[i].title%>
                                            </figcaption>
                                        </figure>
                                     </a>
                                </div>
                            </div>
                        <% } %>       
                    </div>
                </div>
            </div>
        <div class="rightFrame">

        </div>
    </section>
    </div>

<%- include("./partials/footer") %>