<%- include("./partials/header") %>

<div class="wrapper">

    <% if(messages.length > 0){ %>
      <div class="notification is-link mt-4">
        <button class="delete mr-2"></button>
          <p class="has-text-centered has-text-weight-semibold is-size-5"><%=messages[0]%></p>
      </div>
    <%}%>

    <section class="section px-6">
      
        <div class="columns">

            <div class="column is-one-quarter-tablet is-one-fifth-desktop has-text-light leftDisplayFrame has-text-centered m-4">
              
                <% if(currentUser){ %>
                  <% if(currentUser.charAt(currentUser.length-1)=== "s"){ %>
                    <h3 class="is-3 is-capitalized pb-2"><%=currentUser%>' Collection</h3>
                    <% } else { %>
                    <h3 class="is-3 is-capitalized pb-2"><%=currentUser%>'s Collection</h3>
                    <% } %>
                  <br><p><a href="<%=basePath%>/library">jReads Collection</a></p>
              <% } else { %>
                  <h3 class="is-3 pb-4">Welcome!</h3>
                  <p>Please <a href="<%=basePath%>/users/register">sign up</a> or <a href="<%=basePath%>/users/login">login</a> to create your own book list.</p>
              <% } %>
              

            </div>

            <div class="column is-three-quarters is-four-fifths-desktop">
              <div class="container shelves">
                <div class="columns is-centered is-multiline is-mobile">
                  <% if(myLibrary.length === 0 ){ %>
                    <div class="column is-half-mobile is-one-third-tablet is-one-fifth-desktop">
                      <div class="bookCard is-primary has-text-centered has-text-light">
                        <p>To add a book, use the search in the navbar.</p>
                        <br>
                        <p>Get inspired by what other users have picked.</p>
                        <p><a href="<%=basePath%>/library">Take a look.</a></p>
                      </div>
                    </div>
                  <% } %>
                  <% for(let i = 0; i < myLibrary.length; i++){ %>
                    <div class="column is-half-mobile is-one-third-tablet is-one-fifth-desktop">
                      <div class="bookCard">
                        <a href="<%=basePath%>/myBook/<%=myLibrary[i]._id%>">
                          <figure class="image">
                            <img src= <%=myLibrary[i].imageLinks.thumbnail%> alt="Book cover for <%=myLibrary[i].title%>">
                          </figure>
                          </a>
                      </div>
                    </div>
                  <% } %>  

                </div>
              </div>
            </div>
    </section>
</div>

<%- include("./partials/footer") %>