<%- include("./partials/header") %>

<div class="wrapper">
    <% if(messages.length > 0){ %>
      <div class="notification is-link mt-4">
        <button class="delete mr-2"></button>
          <p class="has-text-centered has-text-weight-semibold is-size-5"><%=messages[0]%></p>
      </div>
    <%}%>

    <section class="px-2 py-6">
      
        <div class="columns">

            <div class="column is-one-quarter-tablet is-one-fifth-desktop has-text-light leftDisplayFrame has-text-centered my-4">
              
                <% if(currentUser){ %>
                  <% if(currentUser.charAt(currentUser.length-1)=== "s"){ %>
                    <h3 class="is-3 is-capitalized pb-2"><%=currentUser%>' Collection</h3>
                    <% } else { %>
                    <h3 class="is-3 is-capitalized pb-2"><%=currentUser%>'s Collection</h3>
                    <% } %>
                  <br><p><a href="<%=basePath%>/library">jReads Collection</a></p>
              <% } else { %>
                  <h3 class="is-3 pb-4">Welcome!</h3>
                  <form action="<%=basePath%>/users/login" method="POST">
                    <div class="field">
                      <div class="label is-medium">
                        <label for="username" class="label has-text-light">Username</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input class="input is-small" type="text" name="username" required>
                          </div>
                        </div>
                      </div>
                    </div>
        
                    <div class="field">
                      <div class="label is-medium">
                        <label for="password" class="label has-text-light">Password</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input class="input is-small" type="password" name="password" required>
                          </div>
                        </div>
                      </div>
                    </div>
        
                    <div class="field is-horizontal">
                      <div class="field-body">
                        <div class="field is-grouped is-grouped-centered">
                          <div class="control">
                            <button class="button button-splash is-success is-small">Login</button>
                          </div>
                          <div class="control">
                            <a href="<%=basePath%>/library" class="button button-splash is-info is-small">Guest</a>
                          </div>
        
        
                      </div>
                    </div>
                  </div>
                  <div class="level">
                    <div class="level-item has-text-centered">
                      <div class="control">
                        <a href="<%=basePath%>/users/register" class="has-text-light">Sign Me Up</a>
                      </div>
                    </div>
        
                  </div>
        
                  </form>
              <% } %>
              <h3 class="is-3 is-capitalized pb-2">Reading Challange</h3>
              <h3 class="is-3 is-capitalized pb-2">Top 3 Books</h3>
              <h3 class="is-3 is-capitalized pb-2">To Read...</h3>
              <% if(myLibrary.length === 0 ){ %>
                  <p>Get inspired by what other users have picked.</p>
                  <p><a href="<%=basePath%>/library">Take a look.</a></p>
              <% } %>
              

            </div>

            <div class="column is-two-quarters is-four-fifths-desktop">
              <div class="container shelves">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half-mobile is-two-thirds-tablet is-two-thirds-desktop">
                      <image class="image is-1x1" src="https://images.unsplash.com/photo-1560332944-d047e59ac9b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80"></image>
                      <div class=" is-primary has-text-light">
                        <p>	People have always wondered if a computer could be as smart as a human one day.  Over the past several decades, there have been many movies made on the topic, including Steven Spielberg’s A.I.  However, the movies are just science fiction.  In reality, artificial intelligence is far less complex but integrated in many ways into our everyday lives.</p>

                        <p><a href="<%=basePath%>/library">Take a look.</a></p>
                      </div>
                    </div>
                    <div class="column is-half-mobile is-one-third-tablet is-one-third-desktop">
                      <div class=" is-primary has-text-light">
                        <p>Book News</p>
                        <br>
                        <p>ADD LOG IN AREA HERE</p>
                      </div>
                    </div>

                  <!-- <% for(let i = 0; i < myLibrary.length; i++){ %>
                    <div class="column is-half-mobile is-one-third-tablet is-one-fifth-desktop">
                      <div class="bookCard">
                        <a href="<%=basePath%>/myBook/<%=myLibrary[i]._id%>">
                          <figure class="image">
                            <img src= <%=myLibrary[i].imageLinks.thumbnail%> alt="Book cover for <%=myLibrary[i].title%>">
                          </figure>
                          </a>
                      </div>
                    </div>
                  <% } %>   -->

                </div>
              </div>
            </div>
    </section>
</div>

<%- include("./partials/footer") %>